In [1]:
from collections import namedtuple
from joblib import Parallel, delayed
import requests

import pandas as pd
import arrow

In [18]:
import logging

In [2]:
API = '86b10fc39b08af63d279caba40862fb5'

In [3]:
# df = pd.read_clipboard(names=['city','lat1', 'lat2', 'lon1', 'lon2', 'time'])
# df.to_csv('geo_latlon.csv', index=False)

In [4]:
geoc = pd.read_csv('geo_latlon.csv', index_col=0)

In [5]:
def get_temp(rec, dts):
    params = {
    'units': 'metric',
    'exclude': 'current,minutely,hourly,alerts',
    'appid': API,
    'lat': rec.lat1,
    'lon': rec.lon1,
    'dt':dts
    }
    URL = 'https://api.openweathermap.org/data/2.5/onecall/timemachine'
    try:
        resp = requests.get(URL, params=params).json()
        temp = resp['current']['temp']
    except e:
        logging.error(resp['message'])
    return {'location': rec.Index, 'temp': temp, 'dts':dts}

In [6]:
# last 5 days timestamp, make sure of time indempotency
last_5d_ts = [arrow.utcnow().shift(days=-e).timestamp for e in range(5)]

In [7]:
# Use all available threads to pull the data
data = []
for ts in last_5d_ts:
    data_temps = Parallel(n_jobs=-1)(delayed(get_temp)(loc,ts) for loc in geoc.itertuples())
    data.append(data_temps)

In [8]:
df = pd.concat([pd.DataFrame(d) for d in data])

In [9]:
# Change date format back to datetime
df['date'] = pd.to_datetime(df['dts'],unit='s', infer_datetime_format=True)

In [10]:
max_temp = df.groupby(['location', df.date.dt.month]).temp.max().reset_index()

In [11]:
max_temp.head()

                 location  date   temp
0      Aberdeen, Scotland     1   7.00
1     Adelaide, Australia     1  13.17
2        Algiers, Algeria     1   6.11
3  Amsterdam, Netherlands     1   6.15
4          Ankara, Turkey     1   8.56

In [12]:
df.sort_values(['date', 'temp'], inplace=True)

In [13]:
agg2 = (df
     .groupby('date')
     .agg({'temp': ['first', 'last'],
           'location': ['first', 'last']}))

In [14]:
agg2.columns = ['min_temp', 'max_temp', 'loc_min_temp', 'loc_max_temp']

In [15]:
agg2.head()

,min_temp,max_temp,loc_min_temp,loc_max_temp
date,,,,
2022-01-06 08:22:19,3.52,29.02,"Algiers, Algeria","Bangkok, Thailand"
2022-01-07 08:22:19,1.94,30.02,"Algiers, Algeria","Bangkok, Thailand"
2022-01-08 08:22:19,1.09,30.32,"Algiers, Algeria","Bangkok, Thailand"
2022-01-09 08:22:19,3.78,30.02,"Algiers, Algeria","Bangkok, Thailand"
2022-01-10 08:22:19,4.31,30.02,"Amsterdam, Netherlands","Bangkok, Thailand"

In [16]:
max_temp.to_csv(f"data/data1_{arrow.utcnow().format('YYYY-MM-DD HH:MM:SS')}.csv")
agg2.to_csv(f"data/data2_{arrow.utcnow().format('YYYY-MM-DD HH:MM:SS')}.csv")

In [ ]:
# in case we want to write to sql,
# import sqlalchemy as sa
# con = sa.create_engine('postgresql://user:pass@host/db_name')
# max_temp.to_sql('data1', con=con, index=False, if_exists='append')
# agg2.to_sql('data2', con=con, index=False, if_exists='append')